@font-face {
    font-family: "mystery quest";
    src: url("../estilos/fuentesweb/consolas.woff");
}
@font-face {
    font-family:mystery quest ;
    src: url("../estilos/fuentesweb/consolas.woff");
}
#especial{
    font-family: "mysteryquest" ,Verdana, Geneva, Tahoma, sans-serif;
    font-size: 500%;
}
*{
    background-color: aqua;
}

h1.mark{
    color: blue;
    background-color: yellow;
}

#especial{
    color :black;
    background-color:yellow;
}
body{
    background-color: aqua;
}





